{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "consistent-return": 2,
    "indent": [1, 2],
    "no-else-return": 1,
    "semi": [1, "never"],
    "space-unary-ops": 2
  }
}
