node_modules
modules
altv-server
server.log
update.json
start.sh
build
server
.altvrc
test.js
altv.js
altv-server.exe
AltV.Net.Host.dll
AltV.Net.Host.runtimeconfig.json
data/vehmodels.bin
data/vehmods.bin
dist
.idea